<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Ambab_EMI::emi" title="EMI" sortOrder="51">
					<resource id="Ambab_EMI::emi_allemi" title="All EMI" sortOrder="10">
						<resource id="Ambab_EMI::save" title="Save EMI" translate="title" sortOrder="10" />
						<resource id="Ambab_EMI::emi_delete" title="Delete EMI" translate="title" sortOrder="20" />
					</resource>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Ambab_EMI::EMI_config" title="EMI" translate="title"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
